	<head>
  		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1" />
  		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{ site.description }}{% endif %}">
		<meta charset="utf-8" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		  <link rel="stylesheet" href="/css/main.css" />

		<noscript><link rel="stylesheet" href="/css/noscript.css"/></noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	</head>